<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804722818194-p0p8guci0u5h6m0g0e0e5mekqugrvq6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804722818194-p0p8guci0u5h6m0g0e0e5mekqugrvq6j</string>
	<key>API_KEY</key>
	<string>AIzaSyChprCkkDqGrFKIHKra2Rum8Ts6W0a-Z18</string>
	<key>GCM_SENDER_ID</key>
	<string>804722818194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maksimmalyshev.SwiftUI-LoginView</string>
	<key>PROJECT_ID</key>
	<string>swiftui-loginview</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-loginview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:804722818194:ios:47cc41d592f2fa88ff7a4b</string>
	<key>DATABASE_URL</key>
	<string>https://swiftui-loginview.firebaseio.com</string>
</dict>
</plist>
